html, body, #root {
  height: 100%;
  margin: 0;
  padding: 0;
}
.background-wrapper {
  position: relative;
  margin:0;
  background-image: url('/public/background2.png');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 100vh;
}
.background-wrapper::before{
    content:"";
    position: absolute;
    inset:0;
    background-color:rgba(255,255,255,0.2);
    backdrop-filter: blur(4px);
    z-index: 1;
}
.content{
    position:relative;
    z-index: 2;
    color:white;
}